---
import education from "../collections/education.json";
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageSection from "../components/page-section.astro";
import StaticPage from "../layouts/static-page.astro";

const socials = [
  { url: "https://github.com/dallinhuff", text: "Github" },
  { url: "https://linkedin.com/in/dallinhuff", text: "LinkedIn" },
  { url: "https://threads.net/dallin.huff", text: "Threads" },
  { url: "mailto:dallinhuff@gmail.com", text: "send me an email" },
];
---

<StaticPage
  title="About Me"
  description="Hello 👋 I'm a full-stack software engineer from Utah. I'm passionate about leveraging new technologies to solve real problems."
>
  <PageSection title="Education & Certifications">
    <ol class="pl-6 pt-1">
      {education.map(({dates, role, company, logo, keyTasks, smallerLogo = false}, index) =>
        <li class={index < education.length - 1 ? 'pb-6 border-l border-gray-200 dark:border-neutral-700' : ''}>
          <AboutExperience {dates} {role} {company} {logo} {keyTasks} {smallerLogo} />
        </li>
      )}
    </ol>
  </PageSection>
  <PageSection title="Experience">
    <ol class="pl-6 pt-1">
      {experiences.map(({dates, role, company, logo, keyTasks}, index) =>
        <li class={index < experiences.length - 1 ? 'pb-6 border-l border-gray-200 dark:border-neutral-700' : ''}>
          <AboutExperience {dates} {role} {company} {logo} {keyTasks} />
        </li>
      )}
    </ol>
  </PageSection>
  <PageSection title="Let's Connect">
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you want to stay up to date with my work, be sure to follow me on
      {
        socials.map(({url, text}, index) =>
          <>
            {index == socials.length - 1 ? 'or you can ' : ''}<a
            href={url}
            target="_blank"
            class="text-indigo-600 underline"
          >{text}</a>{index < socials.length - 1 ? ', ' : ''}
          </>
        )
      } and I'll be sure to get back to you.
    </p>
  </PageSection>
</StaticPage>
